<div class="container">
  <div class="user-details">
    <h3> Surf the bubble </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Value</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>This token hast absolute no value. Exchanging anything valueable for this token does not make any sense. Except if you hope there are even more idiots out there and the price will skyrocket. But we gurantee every bubble burst. Don't challenge your luck.</p>
    </div>
    <div class="four columns">
      <h4>Looks great</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Everything looks so great. We even used the cool polygon/particle theme and hosted the page on github.io to do the same bullshit like all the others.</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
  </div>
</div>
