<div class="container">
  <div class="user-details borderdashed">
    <h3> SPECUMANIA </h3>
    <p> {{site.user_description}} </p>
    <a class="project-link" href="#">Read the whitepaper</a>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Value</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>An ICO is the new cool way to raise money. Since the number of projects and ideas is literally multiplying nowadays it becomes hard to see the greater picture. It feels like we operate in a really big bubble but nobody can be sure. </p> 
      <p>That is where SPCMN kicks in. We try to measure how far the token bubble / the token moon has inflated up to now. Are we close to the "big burst" or is there still space left to finally arrive at the moon?</p> 
      <p>Investing Ether into the Speculative Token definitely won't give you any value. Exchanging anything valueable for this token actually does not make any common sense.</p> 
      <p>But what is common sense? People earning millions by trading altcoins. You never know if a coin will skyrocket to the moon or fail. If you are one of the gold diggers out there: Support our idea and find out what happens!</p>
      <p>The bubble burst. Someday.</p>
    </div>
    <div class="four columns">
      <h4>Looks great</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Everything looks so great. We set up a fancy website and used the cool polygon/particle theme like all the others.</p> 
      <p> We hosted the page on github.io to be as cool as all pros out there. Look at all these fancy logos. We used sass, gulp, node.js, git, github and way more to set up this awesome non valuable coin.</p>
      <p>We just fucked up the logo with gimp. Sorry for that.</p>
    </div>
    <div class="four columns">
      <h4>The ICO</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>We maybe make a presale. If  not we don't. Depends on how we deep we can digg into the ether smart contract shit.</p>
      <p>It's fun but timeconsuming. We are a big team. At least enough to say we instead of I. Sounds way more eleborated. Like a big company. If we hit our goals we will list the coin on exchanges.</p>
      <p>XOXO lumbersexual</p>
    </div>
  </div>
</div>
