<div class="container">
  <div class="user-details">
    <h3> Our wallet is </h3>
  </div>
  <div class="row user-projects">
    <div class="fullCol">
      <h5> 2312SDF34SF-123WSDFqwQWE23w24G </h5>

<div class="containerBox">
  <button class="copy">
    <div class="top"></div>
    <div class="bottom"></div>
  </button>
  <span>copy</span>

  <button class="share">
    <div class="circles"></div>
    <div class="line"></div>
    <div class="line"></div>
  </button>
   <span>share</span>
</div>
      
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Surf the hype </h5>
      <p>For some reasons here is still some text. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>We can even put way more info here because our stock image to the left ist really height. But we don't care. I mean everything is said. Stop reading. Start investing in real value. Maybe real estate? Uhh.. shhhish. Yeah, also a bubble. Well, car loans?.. isshh.</p>
      <p>Ok, nevermind. Good luck golddiggers!</p>
      <p>XOXO lumbersexuals</p>
    </div>
  </div>
</div>
