<div class="container">
  <div class="user-details">
    <h3> Send ETH to the following address </h3>
  </div>
  <div class="row user-projects">
    <div class="fullCol">
      <h5> 2312SDF34SF-123WSDFqwQWE23w24G </h5>

      <div class="containerBox">
        <button class="copy">
          <div class="top"></div>
          <div class="bottom"></div>
        </button>
        <span>copy</span>

        <button class="share">
          <div class="circles"></div>
          <div class="line"></div>
          <div class="line"></div>
        </button>
        <span>share</span>
      </div>
    </div>
  </div>

<div id="progressDiv">
  <h3>See how big the bubble has become already</h3>
  <div class="progress-wrap progress" data-progress-percent="50">
    <div class="progress-bar progress"></div>
  </div>
  <span class="startProgress">0 ETH</span><span class="endProgress">1'000 ETH</span>
</div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>ICO details</h5>
      <p>Supporter from the US, China, Hong Kong and South Korea are not allowed to take part in the token sale.</p>
      <p>Accepted currency: ETH</p>
      <p>Please do ONLY send ETH from wallets like: MyEtherWallet, Ethereum wallet and others where you own the keys for the wallet. Do not send ETH from an exchange wallet!!!! Also make sure to backup your private keys.</p>
      <p>We can even put way more info here because our stock image to the left is really high. But we don't care. I mean everything is said. Stop reading.</p>
      <p>XOXO lumbersexuals</p>
    </div>
  </div>
</div>
